.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

.carousel-indicators {
    display: none !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}



.carousel-control-next, .carousel-control-prev {
    width: 8% !important;
}
