.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker on hover */
}

.carousel-indicators {
    display: none !important;
}

.home__sliderSTt{
  height: 82vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.carousel-control-next, .carousel-control-prev {
    width: 8% !important;
}


/* mobile media queries */
@media screen and (max-width: 767px) {
  .home__sliderSTt{
    height: 52vh;
  }
}

/* tablet media queries */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home__sliderSTt{
    height: 60vh;
  }
}