.methods__containerSec{
    background-color: antiquewhite;
    height: 500px;
    padding: 0px;
}

.tabs__cardSec{
    padding: 30px 100px !important;
    background-color: #a6cf45;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    color: #fff;
}

.methods__mainTit{
  font-weight: 900;
  margin-left: 10px;
  font-size: 39px;
}
  
.tabs__img__card{
    background-color: #ffffff;
    height: 100%;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 30px 10px;
    width: 100%;
}
  
  .tab-title {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff40;
    color: #fff;
    margin: 10px 0px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    list-style: none;
    line-height: 30px;
    font-size: 16px;
  }
  
  .tab-title.active {
    background-color: #235f9d;
    bottom: none;
    font-weight: bold;
    color: #fff;
  }
  
  .tab-image {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .selTab-content {
    margin-top: 30px;
    border-radius: 6px;
    padding: 49px 69px;
    margin-bottom: 72px;
    /* background: linear-gradient(328.58deg, #034ea1 -15.54%, #00b7ac 83%); */
    background: linear-gradient(328.58deg, #a6cf45 -15.54%,  #235f9d 83%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {

      color: #fff;
      font-size: 36px;
      padding-bottom: 20px;
      margin: 0;
      font-family: MontserratEB, Helvetica, sans-serif, Arial;
      font-weight: 900;

    }

    p {

      font-size: 18px;
      line-height: 33px;
      color: #fff;
      padding-bottom: 27px;
      text-align: center;

    }
    
  }


/* mobile responsive  */
@media screen and (max-width: 767px) {

  .methods__containerSec{
    background-color: antiquewhite;
    height: 100%;
    padding: 0px;
  }

  .tabs__cardSec {
    padding: 27px 4px 5px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .methods__mainTit {
    font-weight: 800;
    margin-left: 10px;
    font-size: 25px;
  }

  .selTab-content {
    margin-top: 0;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 0px;
  }

  .tabs {
    padding: 10px;
  }

  .tabs__img__card {
    background-color: #ffffff;
    height: 310px;
    border-radius: 10px;
  }

  .selTab-content {

    padding: 25px 10px;
    margin: 10px;

    h2 {
      
      font-size: 25px;
      padding-bottom: 9px;
      margin: 0;
      font-weight: 700;

    }

    p {

      font-size: 14px;
      line-height: 32px;
      padding-bottom: 0px;
      margin: 0px;

    }
    
  }

}
  

/* medium responsive */
@media screen and (min-width: 768px) and (max-width: 1023px) {

  .methods__containerSec{
    background-color: antiquewhite;
    height: 350px;
    padding: 0px;
  }
  
  .tabs__cardSec {
    padding: 10px !important;
  }

  .methods__mainTit {
    font-weight: 800;
    margin-left: 10px;
    font-size: 25px;
  }

  .tabs {
    padding: 10px;
    margin: 0px;
  }

  .selTab-content {
    margin-top: 25px;
    padding: 20px;
    margin-bottom: 0;

    h2 {
      font-size: 26px;
      padding-bottom: 12px;
      margin: 0;
      font-weight: 800;
    }

    p {

      font-size: 16px;
      line-height: 30px;
      text-align: center;
      margin: 0px;
      padding: 0px;

    }

  }

}