.disclaimer__main {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.disclaimer__card {
    width: 80%;

    h3 {
        font-weight: 700;
        color: rgb(46, 46, 46);
    }

    p {
        text-align: justify;
        hyphens: auto;
    }

}


/* mobile responsive */
@media screen and (max-width: 767px) {

    .disclaimer__main {
        padding: 25px 0px;
    } 

    .disclaimer__card {
        width: 100%;
    }
}

/* tablet responsive */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .disclaimer__card {
        width: 100%;
    }

}