.search__doct__card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-top: -113px !important;
    border: 1px solid #00b7ac;
    z-index: 9;
    height: 58px;
}

.inputs__cards {
    width: 25%;
    padding: 0px 10px;
}

.input__select {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 0px 11px;
    background-color: transparent;
}

.input__select:focus{
    outline: none;
}

.submit__btn {
    background: linear-gradient(to right, #205f9e, #205f9e);
    background-position: 13% 50%;
    border-radius: 6px;
    color: #fff;
    border: none;
    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    float: right;
    text-align: center;
    background-repeat: no-repeat;
    display: block;
    width: 15%;
    height: 41px;
    transition: .5s ease all;
    margin: 0px;
}

.mar__right {
    border-right: 2px solid #1864bb;
}

/* mobile media queries */
@media screen and (max-width: 767px) {
    .search__doct__card {
        background: #fff;
        flex-direction: column;
        height: 250px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 30px 0px !important;
    }
    .mar__right {
        border-right: none;
    }
    .input__select {
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid rgb(169, 169, 169);
        border-radius: 0px;
        margin-bottom: 5px;
    }
    .inputs__cards {
        width: 100%;
        padding: 0px 10px;
    }
    .submit__btn {
        width: 160px;
        height: 50px;
        margin-top: 20px;
    }
}

/* tablet media queries */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .input__select {
        padding: 5px;
    }
    .submit__btn {
        font-size: 20px;
        width: 23%;
    }
    .accesslab__btn {
        height: 42px;
        font-size: 18px;
        padding: 0px 10px;
    }
    .appoint__btn {
        height: 42px;
        font-size: 18px;
    }
    .emer__btn {
        height: 42px;
        font-size: 18px;
    }
}
