.footer__copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.footer_subTitles{
    letter-spacing: 1px;
}

.footer__liItems{
    line-height: 32px;
}

.footer__liItems{
    color: #f4f7fd80;
    text-decoration: none;
}


.footer__liItems:hover {
    color: #fff;
    transition: .5s ease all;
    font-size: 18px;
}

.location__footer {
    background-color: #235f9d;
    color: #fff;
}

.location__card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.location__card span{
    margin: 0px 20px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: rgb(255, 255, 255) !important;
}

.location__innerCard {
    padding: 44px 0px;
}


/* mobile device responsive */
@media screen and (max-width: 767px) {

    /* copy-rights top section */
    .footer_subTitles {
        text-align: left;
    }

    .footer__desc{
        text-align: left;
    }

    .footer__mainItem li{
        text-align: left;
    }

    li .footer__liItems {
        letter-spacing: 1px;
    }

    /* locations section */

    .location__innerCard {
        padding: 20px 0px;
    }

    .location__card span {
        justify-content: space-around;
        margin: 6px;
        font-size: 12px;
        letter-spacing: 1px;
    }

    /* copy_rights bottom section */
    .footer__copy {
        flex-direction: column;
    }

    .footer__copySec1 {
        margin-bottom: 11px;
        font-size: 17px;
    }

}

/* medium device responsive */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    /* copy-rights top section */
    .footer_subTitles {
        text-align: left;
    }

    .footer__desc{
        text-align: left;
    }

    .footer__mainItem li{
        text-align: left;
    }

    li .footer__liItems {
        letter-spacing: 1px;
    }

    /* locations section */
    .location__innerCard {
        padding: 30px 0px;
    }


    /* copy_rights bottom section */
    .footer__copySec1 {
        font-size: 14px;
    }

    .footer__copySec2 {
        font-size: 14px;
    }

    .footer__copy {
        margin: 0px;
    }
}