.center__ex__main {
  height: 400px;
}

.banner__imageCOE{
   /*  height: 100%; */
    width: 100%;
    object-fit: cover;
}

.select__spe__maincd {
    background-color: #a6cf45;
    height: 100%;
}

.select__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select__card {
    background-color: #fff;
    padding: 30px 45px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: -32px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.select__cardleft {
    width: 15%;
    background-color: #235f9d;
    height: 150px;
    border-radius: 15px;
}

.select__cardright {

    width: 80%;
    padding: 0px 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    h3 {
      font-size: 30px;
      font-weight: 800;
      color: #235f9d;
    }

    h5 {
      font-size: 19px;
      font-weight: 600;
      margin: 10px 0px;
    }

}

.why__section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    position: relative;
    margin-top: 55px !important;
}

.why__secimg{
    height: 300px;
    width: 450px;
    border-radius: 4px;
}

.why-sec-imgcard{
    background-color: #235f9d;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    height: 150px;
    width: 190px;
    border-radius: 15px;
    padding: 20px;
    color: #fff;

    position: absolute;
    top: 10px;
    left: 0px;
}

.why__card1{
    width: 40%;
}

.why__card2{
    width: 60%;
    padding:  20px 0px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    color: #fff;
    letter-spacing: 1px;
    text-align: justify;
}


/* doctors cards */
.dr__detailpgCard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.doctors__mainSec{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.each__doctor__cardItem {
    display: flex;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px #00000029;
    border: 2px solid #235f9d;
    border-radius: 16px;
    height: 451px;
    width: 300px;
    flex-direction: column;
  }

  .img__card {
    padding: 5px 0px 30px;
    background: linear-gradient(90deg, #235f9d 0, #235f9d 100%);
    border-radius: 15px;
  }

  .marq__ele {
    font-size: 14px;
    color: #fff;
    margin: 0px 4px;
  }
  .dr__image {
    height: 196px;
    object-fit: cover;
    width: 100%;
  }

  .persn__det {
    width: 100%;
  }

  .doctor__name {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .doctor__qualif{
    font-size: 15px;
    margin: 0px;
    font-weight: 600;
  }

  .dr__qulf {
    text-align: center;
  }

  .doctor__Speciality {
    font-size: 1rem;
    color: #888;
  }

  .doctor__qul__sec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px 0px;
  }

  .view__card{
    width: 100%;
    padding: 0px 30px;
  }

  .view__btns{
    width: 100%;
    height: 35px;
    background-color: #235f9d;
    color: #fff;
    border-radius: 7px;
    border: none;
    letter-spacing: 1px;
    font-weight: 600;
  }


/* Faq's section */
  .faq__secCard{
    background-color: #235f9d;
  }

  .title__faqs{
    font-size: 30px;
    font-weight: 800;
    color: #fff;
    margin: 0px 0px 30px 15px;
  }

  .faq-item {
    background-color: #fff;
    border-radius: 10px;
    margin: 15px;
    border-bottom: 1px solid #ccc;
    padding: 15px;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
    
  }

  .faq__quest{
    font-size: 18px;
    line-height: 22px;
    color: #235f9d;
    font-weight: 700;
    margin: 0px;
  }

  .faq-answer {
    margin-top: 10px;
    padding-left: 0px;

    p {
      margin: 0px;
    }

  }
  
  .plus-icon {
    font-size: 24px;
    transition: transform 0.3s ease;
  }
  
  .plus-icon.rotated {
    transform: rotate(90deg);
  }
  

/* Treatment & Procedures Section  */
.treatment-slider {
  position: relative;
}

.treat-procetitle{
  color: #235f9d;
  font-size: 34px;
  font-weight: 700;
}

.treatment-container {
  display: flex;
  overflow: hidden;
  height: 350px;
  padding: 30px 0px;
}

.treatment-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 40px;
  margin: 3px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.treatment-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
  color: #235f9d;
  font-weight: 700;
  line-height: 32px;
}

.treatment-item p {
  font-size: 1rem;
  color: #666;
}

.next-arrow,
.prev-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #235f9d;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.next-arrow:hover,
.prev-arrow:hover {
  background-color: #235f9d;
}

.prev-arrow {
  left: -20px;
}

.next-arrow {
  right: -20px;
}



/* tabs data styles */
.nav-tabs {
  display: flex;
  /* list-style: none; */
  padding: 0;
  margin: 30px 0px;
}

/* Style for each tab */
.nav-tabs .nav-item .nav-link {
  padding: 10px 15px;
  border: 1px solid #ddd;
  background-color: #f8f9fa;
  color: #034ea1;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  border-radius: 4px 4px 0 0;
  margin-right: -1px;
  transition: background-color 0.3s ease, color 0.7s ease;
}

/* Style for the active tab */
.nav-tabs .nav-item .nav-link.active {
  background-color: #034ea1; /* Change this to the color you want for the active tab */
  color: #ffffff; /* Text color for the active tab */
  border-color: #034ea1; /* Border color for the active tab */
}

/* Style for tab content */
.tabs__desCont {
  border: 1px solid #ddd;
  border-top: none;
  padding: 15px 47px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  list-style-type: disc;
}




/* Mobile responsive */
@media (max-width: 767px) {

  .slider-item {
    flex: 0 0 100%;
  }

  .select__card {
    padding: 25px 15px;
    align-items: center;
    margin-top: 40px;
    flex-direction: column !important;
    text-align: center;
  }

  .select__cardleft {
    width: 100%;
    margin-bottom: 20px;
    height: 154px;
  }

  .select__cardright{

    width: 100%;
    padding: 0px;

    h3 {
      font-size: 22px;
    }

    h5 {
      font-size: 14px;
    }

    p {
      margin: 0px;
      text-align: justify;
      hyphens: auto;
      font-size: 14px;
    }

  }

  .why__section {
    padding: 20px 0px !important;
    margin-top: 28px !important;
    flex-direction: column;
  }

  .why__card1 {
    width: 100%;
  }

  .why__secimg {
    height: 225px;
    width: 100%;
  }

  .why__card2 {

    width: 100%;
    padding: 11px 0px;

    p {
      text-align: justify;
      hyphens: auto;
    }

  }

  .why-sec-imgcard {
    position: static;
    height: 120px;
    width: 100%;
    padding: 15px 13px;
    margin-top: 15px;
  }

  .each__doctor__cardItem {
    margin: 10px 0px;
  }

  .faq-item {
    margin: 15px 0px;
    padding: 10px;
  }

  .faq__quest {
    font-size: 13px;
  }

  .title__faqs {
    margin: 0px 0px 20px 0px;
  }

  .faq-answer {
    margin-top: 10px;
    padding-left: 0px;

    p {
      margin: 0px;
      font-size: 13px;
    }

  }

  .treatment-container {
    height: 273px;
    padding: 13px 0px;
  }

  .treatment-item {
    padding: 10px;

    h3 {
      font-size: 12px;
      height: 54px;        /* Set the height of the element */
      overflow-y: scroll;  /* Enable vertical scrolling */
      overflow-x: hidden;  /* Hide horizontal overflow */
      line-height: 17px;
    }

    p {
      font-size: 12px;
      text-align: justify;
      hyphens: auto;
    }

  }

  .next-arrow {
    right: 0px;
  }

  .prev-arrow {
    left: 0px;
  }

  .next-arrow, .prev-arrow {
    width: 30px;
    height: 30px;
  }

  .prev-arrow , .next-arrow {
    width: 30px;
    height: 30px;
  }

  .center__ex__main {
    height: 167px;
  }

  .treat-procetitle {
    font-size: 24px;
    font-weight: 800;
  }

  /* tabs data styles */
  .nav-tabs .nav-item .nav-link {
    padding: 4px 6px;
    font-weight: 500;
    font-size: 14px;
  }

  .tabs__desCont {
    padding: 15px;
  }

  .tab-section-content p {
    margin: 8px 0px;
  }

}

/* tablet responsive */
@media screen and (min-width: 768px) and (max-width: 1023px) {

  .select__cardleft {
    width: 30%;
  }

  .select__cardright {

    width: 80%;
    padding: 0px 0px 0px 20px;

    h3 {
      font-size: 23px;
    }

    h5 {
      font-size: 16px;
    }

    p {

      text-align: justify;
      hyphens: auto;
      height: 58px;
      overflow-y: scroll;
      overflow-x: hidden;
      line-height: 20px;
      font-size: 14px;
      padding-right: 12px;

    }

  }

  .select__card {
    padding: 30px 22px;
  }

  .why__section {
    padding: 0px 0px 50px !important;
    justify-content: center;
    align-items: start;
  }

  .why__card1 {
    width: 50%;
    padding-right: 20px;
  }

  .why-sec-imgcard {
    position: static;
    width: 100%;
    margin-top: 15px;
  }

  .why__secimg {
    height: 268px;
    width: 100%;
    border-radius: 4px;
  }

  .why__card2 {
    width: 50%;
    padding: 0px;

    p {
      height: 416px;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-right: 10px;
    }

  }

  .treatment-item {

    padding: 20px;

    h3 {

      font-size: 20px;
      line-height: 25px;

    }

  }

  /* tabs data styles */
  .tabs__desCont {
    margin: 9px 0px !important;
  }

}


