/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

 */
body {
  font-family: Montserrat, Helvetica, 'Open Sans', sans-serif !important;
  font-weight: 500 !important;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

/* scroll bar line stylings */
::-webkit-scrollbar {
  width: 4px;
  border: 1px solid #d5d5d5;
}
  
::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}
  
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #205f9e;
  border-radius: 15px;
}