.tabs-containers {
    width: 100%;
    background-color: #01b2ac;
  }
  
  .tabs-slider {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  .tab {
    padding: 10px;
    text-align: center;
    cursor: pointer;

    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    margin: 0 28px;
    width: 164px;
    border-radius: 7px;
  }
  
  .tab.active {
    background: #fff;
    font-weight: bold;
    color: #00b7ac;
    box-shadow: #00000070 0 10px 20px;
  }